@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-sans bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50 min-h-screen scroll-smooth;
}

*,
*:after,
*:before {
  @apply box-border transition ease-in;
  outline: none;
}

*:focus,
*:after:focus,
*:before:focus {
  @apply ring ring-opacity-25 ring-primary-500;
  outline: none;
}

::selection {
  @apply bg-primary-300;
}

.secondary-selection::selection {
  @apply bg-gray-500;
}

.dark .secondary-selection::selection {
  @apply bg-gray-400;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

@media screen and (min-width: 744px) {
  .container {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .container {
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
  }
}
